html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 290px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 690px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 940px;
  }
}
